.productlist_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.productlist_header h1 {
    margin: 0;
    color: #2B2D42;
}

.productlist_header a {
    text-decoration: none;
    background-color: #118AB2;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
    padding: .5em .8em;
    border-radius: 8px;
}

.productlist_header a:hover {
    background-color: #06D6A0;
}

.productlist_container {
    display: flex;
    flex-direction: column;
}

.productlist_row p,
.productlist_row span,
.products_row p,
.products_row span {
    color: #2B2D42;
}

.left_container{
    display: flex;
    align-items: center;
}

.productlist_row {
    border-bottom: 1px solid #415A77;
    padding: 1em;
    margin: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.products_row {
    border-bottom: 1px solid #415A77;
    padding: 1em;
    margin: 1em;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    align-items: center;
    width: 100%;
}

.products_row > div {
    flex: 1;
}


.productlist_row img,
.products_row img {
    margin-right: 1em;
}

.productlist_row span {
    min-width: 100px;
}

.actions {
    margin-left: auto;
    text-align: center;
}


.actions a,
.actions button {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
    padding: .5em .8em;
    border-radius: 8px;
    font-size: .8em;
    margin-left: 1.5em;
}

.remove_btn {
    background-color: #EF233C; 
    border: 1px solid #EF233C;
}

.remove_btn:hover {
    background-color: transparent;
    color: #EF233C;
}

.edit_btn {
    background-color: #fca311;
    border: 1px solid #fca311;
}

.edit_btn:hover {
    background-color: transparent;
    color: #fca311;
}


.actions .conclude_btn {
    background-color: #06D6A0;
    color: #fff;
    border: 1px solid #06D6A0;
}

.actions .conclude_btn:hover {
    color: #06D6A0;
    background-color: transparent;
}

/* MyOrders */

.contacts {
    margin-left: auto;
}

.contacts p {
    margin-bottom: .5em;
}


/* Responsividade */

@media (width <= 670px) {
    .productlist_header h1 {
        font-size: 1.5em;
    }

    .productlist_header a {
        padding: .3em .6em;
    }

    .productlist_row span {
        font-size: .8em;
    }

    .actions {
        display: flex;
    }

    
    .products_row {
        font-size: .8em;
    }

}

@media (width <= 630px) {

    .productlist_header {
        justify-content: center;
        flex-direction: column;
        gap: 1em;
    }

    .actions {
        flex-direction: column;
        gap: 1em;
    }

    .productlist_row {
        margin: 1em 0;
        padding: 1em 0;
    }

    .products_row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
        padding: 0;
        padding: 1em 0;
    }
    .products_row .contacts,
    .products_row .actions {
        margin: 0;
    }

}


@media (width <= 300px) {
    .productlist_row img {
        display: none;
    }

    .productlist_header h1 {
        font-size: 1em;
    }

    .productlist_header a {
        padding: .2em .4em;
    }

    .productlist_row span {
        font-size: .8em;
    }

    .actions a,
    .actions button {
        padding: .3em .7em;
        font-size: .5em;
}

}

@media (width <= 260px) {

    .productlist_header a {
        font-size: .7em;
    }
}


